%h1 Delicious to Instapaper
%h2 copy your delicious bookmarked pages to Instapaper
%p You must put in your password for delicious, nothing is stored on the server, you can view the source code for this project <a href="http://github.com/jtoy/del2ip">here</a>

%form
  %div
    Delicious user name
    %input(type="text" name="d_u")
    Delicious password
    %input(type="text" name="d_p")
  %div
    Instapaper user name
    %input(type="text" name="i_u")
    Instapaper password (optional)
    %input(type="text" name="i_p")
  %input(type="submit")




%a(href="http://twitter.com/jtoy") Follow me on twitter
